{% extends 'base.html.twig' %}

{% block title %}Hello ApiCityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
<div class="container">

    <h1>Stanowiska pomiarowe:</h1>

    <ul class="list-group">
        {% for station in stations %}
            {% for id,measurement in measurements %}
                    {% if measurement is not null and measurement.0.data.id == station.stationId %}
                        <li class="list-group-item list-group-item-action active">{{ measurement.0.data.stationName }}</li>

                    {% endif %}
            {% endfor %}
            <li class="list-group-item list-group-item-action">id: {{ station.id }}</li>
            <li class="list-group-item list-group-item-action">id station: {{ station.stationId }}</li>
            <li class="list-group-item list-group-item-action">param name: {{ station.param.paramName }}</li>
            <li class="list-group-item list-group-item-action">formula: {{ station.param.paramFormula }}</li>
            <li class="list-group-item list-group-item-action">param code: {{ station.param.paramCode }}</li>
            <br>
        {% endfor %}
    </ul>
    <button class="btn btn-info text-white"><a class="text-white" href="/api/city/">Wróć</a></button>
</div>
</div>
{% endblock %}
